doctype html
html
  head
    title= title
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0",name="viewport")
    link(rel='stylesheet', href='/styles/animate.min.css')
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/AdminLTE.min.css')
    link(rel='stylesheet', href='/styles/skin-blue.min.css')
  block content

