extends _layout
block content
  body.hold-transition.login-page
    .container
      .login-logo
        a
          span.text-danger.animated.bounceInDown <strong>Marsoln</strong>'s exLab
      .login-box-body
        form(method='post',action='/login')
          p.text-red #{error}
          .form-group.has-feedback
            input.form-control(type='text',name='username',placeholder='Username')
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password',name='password',placeholder='Password')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .row
            .col-xs-6
              button.btn.btn-success.btn-block ( =w=) <strong>凸</strong>
            .col-xs-6
              a.btn.btn-info.btn-block.btn-register(href='/register') 注册 (o.o)
